/* Cascading Style Sheet Main */
@font-face {
    font-family: 'Work Sans';
    src: url(/asset/font/work-sans.ttf);
}
@font-face {
    font-family: 'Source Code Pro';
    src: url(/asset/font/source-code-pro.ttf);
}
/* Kit */
* {
    --dark: #212529;
    --light: #f8f9fa;
    --magenta: #c208c2;
    --bg-magenta: #df09df;
    --pre-scrollbar: #31373d;
    --border-magenta: #dd0add;
    --pre-scrollbar-thumb: #616161;
    --pre-scrollbar-thumb-hover: #8d8d8d;
    --bg-header: rgba(250, 250, 250, 0.7);
    --shadow-magenta: rgba(224, 40, 145, 0.5);
}
/* Root */
.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(110, 110, 110, 0.25) !important;
}
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: var(--root-dark-bg-subtle) !important;
}
.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--root-dark) !important;
}
.nav-link:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(110, 110, 110, 0.25) !important;
    border-radius: var(--root-border-radius);
    transition: 250ms all;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 calc(var(--root-navbar-toggler-focus-width) - 0.15rem) var(--root-dark) !important;
}
/* Prism */
code[class*='language-'],
pre[class*='language-'] {
    font-family: 'Source Code Pro', monospace !important;
    font-size: 0.8rem !important;
    line-height: 1.25 !important;
}
div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
    padding: 0.2rem 0.5em !important;
    border-radius: 0.25em !important;
    margin: 0.5em 1em !important;
    border: 1px solid #bbb !important;
}
/* Element */
html {
    scroll-padding: 73px;
}
body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'Work Sans', sans-serif !important;
}
body::-webkit-scrollbar {
    display: none;
}
::selection {
    color: var(--light) !important;
    background-color: var(--dark) !important;
}
header,
main {
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
pre::-webkit-scrollbar {
    height: 0;
    width: 10px;
}
pre::-webkit-scrollbar-track {
    background: var(--pre-scrollbar);
    border-radius: 0.1rem;
}
pre::-webkit-scrollbar-corner {
    background: var(--pre-scrollbar);
    border-radius: 999rem;
}
pre::-webkit-scrollbar-thumb {
    background: var(--pre-scrollbar-thumb);
    border-radius: .15rem;
}
pre::-webkit-scrollbar-thumb:hover {
    background: var(--pre-scrollbar-thumb-hover);
}
code::selection,
span::selection {
    background-color: var(--root-gray-800);
}
/* ID */
/* Button Scroll to Top */
#scrollTop {
    opacity: 0;
    right: 25px;
    bottom: 20px;
    z-index: 99;
    position: fixed;
    padding: 5px 10px;
    background: var(--light);
    transition: 500ms all;
    border: 1px solid var(--dark);
    outline: 5px solid var(--light);
}
/* Class */
/* Header Background */
.background-home {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--bg-header), var(--bg-header)), url(/asset/image/hosting/home.webp);
}
.background-about {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--bg-header), var(--bg-header)), url(/asset/image/hosting/about.webp);
}
.background-contact {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--bg-header), var(--bg-header)), url(/asset/image/hosting/contact.webp);
}
.background-pricing {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--bg-header), var(--bg-header)), url(/asset/image/hosting/pricing.webp);
}
/* Unit */
.h-73px {
    height: 73px !important;
}
.pt-73px {
    padding-top: 73px !important;
}
.w-25rem {
    width: 22.75rem !important;
}
/* Prism */
.pre-page {
    height: 44vh !important;
    border-radius: 8px !important;
    border: 4px solid var(--root-border-color) !important;
}
/* Single Page */
.single-page {
    padding-top: 73px !important;
    min-height: calc(100vh - 73px) !important;
}
/* Page with Header */
.half-page {
    min-height: calc(40vh - 73px) !important;
}
/* Text, Border, Button for Color Magenta */
.text-magenta {
    color: var(--magenta) !important;
}
.border-magenta {
    border: 1px solid var(--magenta) !important;
}
.btn-magenta {
    color: #ffffff !important;
    border: 1px solid var(--magenta) !important;
    background-color: var(--magenta) !important;
}
.btn-magenta:hover {
    background: var(--bg-magenta) !important;
    border: 1px solid var(--border-magenta) !important;
}
.btn-magenta:focus-visible {
    background: var(--bg-magenta) !important;
    box-shadow: 0 0 0 0.25rem var(--shadow-magenta) !important;
}
/* Media */
@media (prefers-color-scheme: dark) {
    ::selection {
        color: var(--dark) !important;
        background-color: var(--light) !important;
    }
    #scrollTop {
        opacity: 0;
        right: 25px;
        bottom: 20px;
        z-index: 99;
        position: fixed;
        padding: 5px 10px;
        color: var(--light);
        transition: 500ms all;
        background: var(--dark);
        outline: 5px solid var(--dark);
        border: 1px solid var(--pre-scrollbar);
    }
    div.card-footer, div.card-header {
        color: #ffffff !important;
        background-color: #31373d;
    }
    div.card-header, div.modal-header, .dropdown-divider {
        border-bottom: 1px solid rgb(var(--root-secondary-rgb)) !important;
    }
    div.card-footer, div.modal-footer {
        border-top: 1px solid rgb(var(--root-secondary-rgb)) !important;
    }
    table {
        color: rgb(var(--root-light)) !important;
    }
    a.dropdown-item:hover {
        background-color: #31373d !important;
    }
    a.dropdown-item.active {
        background-color: #31373d !important;
    }
    a.nav-link.active {
        background-color: #31373d !important;
        border-radius: 5px !important;
        padding-left: 0.5rem !important;
    }
    .dropdown-menu {
        border: 1px solid rgb(var(--root-secondary-rgb)) !important;
    }
    .navbar-collapse.show, .collapsing {
        padding-top: 1rem !important;
    }
    .pre-page {
        height: 44vh !important;
        border-radius: 8px !important;
        border: 4px solid #31373d !important;
    }
    .navbar-toggler {
        /* border: 1px solid rgb(var(--root-secondary-rgb)) !important; */
        background-color: var(--light) !important;
    }
}
/* Keyframe */
/* Fade in at Header and Main Element */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
