/* 
    Warning!
    Copying and using this code without permission is strictly prohibited.
    Please contact contact@rayatiga.com for permission before using this code.
*/

/* Global */
/* Global: Font Face */
@font-face {
    font-display: swap;
    font-family: "Inter";
    src: url(/asset/font/inter.ttf);
}
/* Global: Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global: Variable */
:root {
    --color-000001: #1f1f1f;
    --color-000002: #ffffff;
    --color-000003: #7f7f7f;
    --color-000004: #f5f5f5;
    --color-000005: #5555ff;
}
/* Global: Selection */
::selection {
    border-radius: 8px;
    color: var(--color-000002);
    background: var(--color-000001);
}
/* Global: Document */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 48px;
}
/* Global: Body */
body {
    overflow-x: hidden;
    background: var(--color-000002);
    font-family: "Inter", sans-serif;
}
body.overflow-hide {
    overflow-y: hidden;
}
/* Global: Anchor */
a:focus-visible {
    border-radius: 4px;
    outline-offset: 4px;
    outline: 1px solid var(--color-000005);
}
a.button {
    font-size: 16px;
    font-weight: 500;
    text-wrap: nowrap;
    user-select: none;
    padding: 16px 24px;
    border-radius: 8px;
    color: var(--color-000002);
    background: var(--color-000001);
    transition: background 0.25s ease, color 0.25s ease;
}
a[onclick]:hover {
    cursor: pointer;
}
/* Global: Container */
div.container {
    width: 100%;
    padding: 0 40px;
    max-width: 1440px;
}
/* Global: Scrool to Top */
button.scroll-to-top {
    width: 32px;
    right: 32px;
    height: 32px;
    bottom: 24px;
    display: none;
    cursor: pointer;
    position: fixed;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px #00000025;
    background: var(--color-000002);
    transition: transform 0.25s ease;
    border: 1px solid var(--color-000004);
}
button.scroll-to-top:hover {
    transform: scale(1.25);
}
button.scroll-to-top > img {
    max-width: 24px;
    user-select: none;
}

/* Header */
header {
    display: flex;
    justify-content: center;
}
header div.header {
    display: flex;
    padding: 48px 0;
    align-items: center;
    justify-content: space-between;
}
header div.header > a > img {
    max-width: 64px;
    user-select: none;
}
header div.header > ul {
    gap: 48px;
    display: flex;
    list-style: none;
    align-items: center;
}
header div.header > ul > li > a:not(.button) {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-000001);
    transition: color 0.25s ease;
}
/* Header: Toggle Menu */
header div.header > div.toggle-menu {
    gap: 8px;
    width: 100%;
    padding: 8px;
    display: none;
    cursor: pointer;
    max-width: 48px;
    flex-direction: column;
}
header div.header > div.toggle-menu > span {
    width: 48px;
    height: 4px;
    border-radius: 999px;
    background-color: var(--color-000001);
}
header div.header > div.toggle-menu > span:first-child {
    width: 75%;
}
header div.header > div.toggle-menu > span:nth-child(2) {
    width: 75%;
    align-self: flex-end;
}
header div.header > div.toggle-menu > span:last-child {
    width: 75%;
}

/* Main */
/* Main: Hero */
main > section#hero {
    display: flex;
    justify-content: center;
}
main > section#hero div.hero {
    gap: 24px;
    display: flex;
    padding: 120px 0 60px 0;
    align-items: center;
    flex-direction: column;
}
main > section#hero div.hero > h1 {
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.025em;
    color: var(--color-000001);
}
main > section#hero div.hero > h1 > span {
    color: var(--color-000005);
}
main > section#hero div.hero > p {
    font-size: 24px;
    max-width: 768px;
    line-height: 150%;
    text-align: center;
    color: var(--color-000003);
}
/* Main: Start */
main > section#start {
    display: flex;
    justify-content: center;
}
main > section#start div.start {
    gap: 60px;
    display: flex;
    flex-direction: column;
    padding: 60px 0 60px 0;
}
main > section#start div.start > div {
    gap: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main > section#start div.start > div > img {
    flex: 1;
    max-height: 498px;
    user-select: none;
    object-fit: cover;
    border-radius: 8px;
    object-position: center;
}
main > section#start div.start > div:last-child > img {
    object-position: top;
}
main > section#start div.start > div > div {
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
main > section#start div.start > div > div > h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: var(--color-000001);
}
main > section#start div.start > div > div > p {
    font-size: 20px;
    max-width: 516px;
    line-height: 150%;
    color: var(--color-000003);
}
/* Main: Feature */
main section#feature {
    display: flex;
    justify-content: center;
}
main > section#feature div.feature {
    gap: 48px;
    display: flex;
    padding: 60px 0 120px 0;
    flex-direction: column;
    justify-content: space-between;
}
main > section#feature div.feature > h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-000001);
}
main > section#feature div.feature > div.grid {
    gap: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main > section#feature div.feature > div.grid > div {
    gap: 8px;
    display: flex;
    flex-direction: column;
}
main > section#feature div.feature > div.grid > div > img {
    margin: 8px 0;
    max-width: 32px;
    user-select: none;
}
main > section#feature div.feature > div.grid > div > h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    color: var(--color-000001);
}
main > section#feature div.feature > div.grid > div > p {
    font-size: 20px;
    line-height: 150%;
    color: var(--color-000003);
}
/* Main: Contact */
main > section#contact {
    display: flex;
    justify-content: center;
    background: var(--color-000004);
}
main > section#contact div.contact {
    gap: 24px;
    display: flex;
    padding: 120px 0;
    min-height: 424px;
    align-items: center;
    flex-direction: column;
}
main > section#contact div.contact > h2 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -0.025em;
    color: var(--color-000001);
}
main > section#contact div.contact > p {
    font-size: 20px;
    max-width: 768px;
    line-height: 150%;
    text-align: center;
    color: var(--color-000003);
}
main > section#contact div.contact > div {
    gap: 12px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main > section#contact div.contact > div > input {
    width: 100%;
    padding: 16px;
    color: #1f1f1f;
    font-size: 16px;
    max-width: 580px;
    font-weight: 500;
    border-radius: 8px;
    flex: 1 max-content;
    border: 1px solid transparent;
    transition: border 0.25s ease;
    font-family: "Inter", sans-serif;
}
main > section#contact div.contact > div > input:focus-visible {
    outline: none;
    border: 1px solid var(--color-000005);
}
/* Footer */
footer {
    display: flex;
    justify-content: center;
}
footer div.footer > div.top {
    gap: 48px;
    display: grid;
    padding: 48px 0;
    grid-template-columns: minmax(128px, 1fr) minmax(0, 1fr) minmax(240px, 1fr) minmax(184px, 1fr);
}
footer div.footer > div.top > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer div.footer > div.top > div > a {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
    color: var(--color-000001);
}
footer div.footer > div.top > div > a > span {
    display: block;
    font-size: 12px;
    margin-top: -8px;
    font-weight: 400;
    color: var(--color-000003);
}
footer div.footer > div.top > div > ul {
    list-style: none;
}
footer div.footer > div.top > div > ul {
    gap: 24px;
    display: flex;
    flex-direction: column;
}
footer div.footer > div.top > div > ul > li:not(:nth-child(n + 2)) {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-000001);
}
footer div.footer > div.top > div > ul > li:nth-child(n + 2) {
    color: var(--color-000003);
}
footer div.footer > div.top > div > ul > li > a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-000003);
}
footer div.footer > div.top > div > div.social > ul {
    gap: 24px;
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: row;
}
footer div.footer > div.top > div > div.social > ul > li > a > img {
    width: 100%;
    max-width: 24px;
    user-select: none;
}
footer div.footer > div.copyright {
    padding: 24px 0;
    flex-basis: 100%;
    text-align: center;
    border-top: 1px solid var(--color-000004);
}
footer div.footer > div.copyright > p {
    font-weight: 300;
    color: var(--color-000003);
}

/* Media */
/* Media: Below 1024px */
@media (max-width: 1024px) {
    div.container {
        padding: 0 30px;
    }
    main > section#start div.start > div {
        flex-direction: column;
        align-items: flex-start;
    }
    main > section#start div.start > div > img {
        order: 0;
        width: 100%;
    }
    main > section#start div.start > div > div {
        order: 1;
    }
    footer div.footer > div.top {
        grid-template-columns: 1fr 1fr;
    }
    footer div.footer > div.top > div {
        gap: 24px;
    }
}
/* Media: Below 768px */
@media (max-width: 768px) {
    html {
        scroll-padding-top: 92px;
    }
    button.scroll-to-top {
        right: 16px;
        bottom: 16px;
    }
    div.container {
        padding: 0 20px;
    }
    header div.header {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        position: fixed;
        padding: 24px 16px;
        min-height: max-content;
    }
    header div.header::before {
        top: 0;
        left: 0;
        width: 100%;
        content: "";
        height: 100%;
        position: absolute;
        border-bottom: 1px solid var(--color-000004);
        background: var(--color-000002);
    }
    header div.header > a {
        z-index: 1;
    }
    header div.header > a > img {
        max-width: 48px;
    }
    header div.header > ul {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        transform: translateX(125%);
        transition: transform 0.25s ease;
    }
    header div.header > ul::before {
        width: 100%;
        content: "";
        z-index: -1;
        height: 100%;
        position: fixed;
        background: var(--color-000002);
    }
    header div.header > ul.active {
        transform: translateX(0);
    }
    header div.header > ul > li > a.button {
        padding: 0;
        font-size: 20px;
        background: none;
        color: var(--color-000001);
    }
    header div.header > div.toggle-menu {
        z-index: 0;
        display: flex;
    }
    main > section#hero div.hero {
        padding: 180px 0 120px 0;
    }
    main > section#hero div.hero > h1 {
        font-size: 48px;
    }
    main > section#hero div.hero > p {
        font-size: 20px;
        max-width: 480px;
    }
    main > section#start div.start > div > div > h2 {
        font-size: 32px;
    }
    main > section#feature div.feature > h2 {
        font-size: 32px;
    }
    main > section#feature div.feature > div.grid {
        gap: 24px;
        grid-template-columns: 1fr;
    }
    main > section#feature div.feature > div.grid > div {
        max-width: none;
    }
    main > section#contact div.contact {
        align-items: flex-start;
    }
    main > section#contact div.contact > h2 {
        font-size: 32px;
    }
    main > section#contact div.contact > p {
        text-align: start;
    }
    main > section#contact div.contact > div {
        justify-content: flex-start;
    }
    footer div.footer > div.top {
        grid-template-columns: 1fr;
    }
}
/* Media: Above 769px */
@media (min-width: 769px) {
    body.overflow-hide {
        overflow-y: auto;
    }
    a.button:hover {
        background: var(--color-000005);
    }
    header div.header > ul > li > a:not(.button):hover {
        color: var(--color-000005);
    }
}

/* Keyframe */
/* Keyframe: Fade In */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Keyframe: Applied */
header div.header > a > img {
    opacity: 0;
    animation: fadeIn 1s ease 0s forwards;
}
header div.header > div.toggle-menu {
    opacity: 0;
    animation: fadeIn 1s ease 0.2s forwards;
}
header div.header > ul > li:nth-child(1) {
    opacity: 0;
    animation: fadeIn 1s ease 0.1s forwards;
}
header div.header > ul > li:nth-child(2) {
    opacity: 0;
    animation: fadeIn 1s ease 0.2s forwards;
}
header div.header > ul > li:nth-child(3) {
    opacity: 0;
    animation: fadeIn 1s ease 0.3s forwards;
}
main > section#hero div.hero > h1 {
    opacity: 0;
    animation: fadeIn 1s ease 0.4s forwards;
}
main > section#hero div.hero > p {
    opacity: 0;
    animation: fadeIn 1s ease 0.5s forwards;
}
main > section#hero div.hero > a {
    opacity: 0;
    animation: fadeIn 1s ease 0.6s forwards;
}
main > section#start {
    opacity: 0;
    animation: fadeIn 1s ease 0.625s forwards;
}
main > section#feature {
    opacity: 0;
    animation: fadeIn 1s ease 0.625s forwards;
}
main > section#contact {
    opacity: 0;
    animation: fadeIn 1s ease 0.625s forwards;
}
footer {
    opacity: 0;
    animation: fadeIn 1s ease 0.625s forwards;
}
