/* Blog CSS */
/* Default: Blog Image */
#blog img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
/* Default: Section */
#blog > section:nth-child(1) {
  min-height: 32vh;
  padding: 4rem 0;
  background-color: var(--orange);
}
/* Default: Dark: Section */
[data-bs-theme="dark"] #blog > section:nth-child(1) {
  background-color: var(--darkorange);
}
