/* File: blog.css */
/* Default: Images */
#blog img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
/* Default: Section One */
#blog > section:nth-child(1) {
  padding: 6rem 0;
  background-color: var(--blue);
}
/* Framework: Bootstrap: Dark Mode Section One */
[data-bs-theme="dark"] #blog > section:nth-child(1) {
  background-color: var(--darkblue);
}
