/* File: career.css */
/* Default: Form Text Area */
.modal form textarea {
  min-height: 150px;
}
/* Default: Section One */
#career > section:nth-child(1) {
  padding: 6rem 0;
  background-color: var(--blue);
}
/* Framework: Bootstrap: Dark Mode Section One */
[data-bs-theme="dark"] #career > section:nth-child(1) {
  background-color: var(--darkblue);
}
