#checkout form #address {
  min-height: 150px;
}
#checkout > section:nth-child(1) {
  padding: 4rem 0;
  background-color: var(--blue);
}
[data-bs-theme="dark"] #checkout > section:nth-child(1) {
  background-color: var(--darkblue);
}
