/* File: checkout.css */
/* Default: Form Text Area */
#checkout form #address {
  min-height: 150px;
}
/* Default: Section One */
#checkout > section:nth-child(1) {
  padding: 4rem 0;
  background-color: var(--blue);
}
/* Framework: Bootstrap: Dark Mode Section One */
[data-bs-theme="dark"] #checkout > section:nth-child(1) {
  background-color: var(--darkblue);
}
