#contact iframe {
  width: 100%;
  height: 100%;
}
#contact > section:nth-child(1) {
  padding: 6rem 0;
  background-color: var(--blue);
}
[data-bs-theme="dark"] #contact > section:nth-child(1) {
  background-color: var(--darkblue);
}
#contact form #message {
  min-height: 150px;
}
[data-bs-theme="dark"] #contact iframe {
  filter: invert(90%) hue-rotate(180deg);
}
