/* Contact CSS */
/* Default: Contact Iframe Google Maps */
#contact iframe {
  width: 100%;
  height: 100%;
}
/* Default: Contact Form Message */
#contact form #message {
  min-height: 150px;
}
/* Bootstrap: Scheme: Dark */
[data-bs-theme="dark"] #contact iframe {
  filter: invert(90%) hue-rotate(180deg);
}
