.driver-popover .driver-popover-title,
.driver-popover .driver-popover-description,
.driver-popover .driver-popover-next-btn,
.driver-popover .driver-popover-prev-btn,
.driver-popover .driver-popover-progress-text {
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif !important;
}
#index .hero {
  padding: calc(6rem + 57px) 0 6rem 0;
  min-height: 42rem;
}
#index .badge-group {
  margin-top: -4rem;
}
[onclick="startTour()"] {
  display: none;
}
#index .featured {
  padding: 6rem 0;
}
#index .top-services {
  padding: 6rem 0;
}
#index .user-testimonial {
  padding: 6rem 0;
}
#index .get-started {
  padding: 6rem 0;
}
#index :root {
  --bs-tertiary-bg-rgb: 251, 251, 253;
}
#index [data-bs-theme="dark"]:root {
  --bs-tertiary-bg-rgb: 38, 43, 48;
}
#index [data-bs-theme="dark"] .card-header.bg-dark {
  background-color: var(--bs-light) !important;
}
#index [data-bs-theme="dark"] .card-header.bg-dark.text-white {
  color: var(--bs-dark) !important;
}
#index [data-bs-theme="dark"] .border-dark {
  border-color: rgba(var(--bs-body-rgb), var(--bs-border-opacity)) !important;
}
