/* File: index.css */
/* Framework: Driver.js: Popover */
.driver-popover .driver-popover-title,
.driver-popover .driver-popover-description,
.driver-popover .driver-popover-next-btn,
.driver-popover .driver-popover-prev-btn,
.driver-popover .driver-popover-progress-text {
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif !important;
}
/* Default: Hero Section */
#index .hero {
  padding: calc(6rem + 57px) 0 6rem 0;
  min-height: calc(100vh - 57px);
}
/* Default: Badge Group */
#index .badge-group {
  margin-top: -4rem;
}
/* Default: Start Tour Button */
[onclick="startTour()"] {
  display: none;
}
/* Default: Scroll Down and Arrow */
#index .arrow-down-animate {
  animation: scrollDown 2s ease infinite;
}
/* Default: Keyframe: Scroll Down */
@keyframes scrollDown {
  0% {
    padding-top: 0;
  }
  25% {
    padding-top: 12px;
  }
  50% {
    padding-top: 0;
  }
}
/* Default: Featured Section */
#index .featured {
  padding: 6rem 0;
}
/* Default: Top Section */
#index .top-services {
  padding: 6rem 0;
}
/* Default: Testimonial Section */
#index .user-testimonial {
  padding: 6rem 0;
}
/* Default: CTA Section */
#index .get-started {
  padding: 6rem 0;
}
/* Framework: Bootstrap: Root */
#index :root {
  --bs-tertiary-bg-rgb: 251, 251, 253;
}
/* Framework: Bootstrap: Dark Mode Root */
[data-bs-theme="dark"] #index :root {
  --bs-tertiary-bg-rgb: 38, 43, 48;
}
/* Framework: Bootstrap: Dark Mode Card Header Background */
[data-bs-theme="dark"] #index .card-header.bg-dark {
  background-color: var(--bs-light) !important;
}
/* Framework: Bootstrap: Dark Mode Card Header Text */
[data-bs-theme="dark"] #index .card-header.bg-dark.text-white {
  color: var(--bs-dark) !important;
}
/* Framework: Bootstrap: Dark Mode Card Border */
[data-bs-theme="dark"] #index .card.border-dark {
  border-color: rgba(var(--bs-body-rgb), var(--bs-border-opacity)) !important;
}
