/* File: invoice.css */
/* Default: Font Face */
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  src: url("/asset/font/roboto-mono.ttf");
}
/* Default: Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Default: Body */
body {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", monospace;
  margin: 0;
  padding: 1rem 0;
}
/* Default: Container */
div.container {
  max-width: 780px;
  width: 100%;
  max-height: 100vh;
}
/* Default: Horizontal */
div.container hr {
  height: 16px;
  border: 0;
  background-color: #283592;
  margin-top: 0;
}
/* Default: Header */
div.container header {
  display: flex;
  justify-content: space-between;
}
/* Default: Header From and Pay */
div.container header div.from,
div.container header div.pay {
  display: flex;
  flex-direction: column;
}
/* Default: Header From Heading One */
div.container header div.from h1 {
  color: #283592;
  font-weight: 800;
  margin-bottom: 4px;
}
/* Default: Header Span */
div.container header span {
  display: block;
}
/* Default: Header Pay */
div.container header div.pay {
  text-align: right;
}
/* Default: Header Pay Heading One */
div.container header div.pay h1 {
  color: #e01b84;
  font-weight: 800;
  margin-bottom: 4px;
}
/* Default: Main Info */
div.container main div.info {
  display: flex;
  justify-content: space-between;
}
/* Default: Main Span */
div.container main span {
  display: block;
}
/* Default: Main Title Heading One */
div.container main div.title h1 {
  color: #283592;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 4px;
}
/* Default: Main Title Span */
div.container main div.title span {
  color: #e01b84;
  margin-bottom: 16px;
  font-weight: 700;
}
/* Default: Main Info Heading One */
div.container main div.info h1 {
  font-size: 18px;
  margin-bottom: 4px;
}
/* Default: Main Table */
div.container main table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 24px;
}
/* Default: Main Table Data and Table Header */
div.container main table td,
div.container main table th {
  padding: 8px 0;
}
/* Default: Main Table Header */
div.container main table th {
  text-align: left;
  color: #283592;
}
/* Default: Main Table Row */
div.container main table tr {
  border-bottom: 1px solid #dddddd;
}
/* Default Main Table Header Child */
div.container main table th:nth-child(2),
div.container main table th:nth-child(3),
div.container main table th:nth-child(4),
div.container main table td:nth-child(2),
div.container main table td:nth-child(3),
div.container main table td:nth-child(4) {
  text-align: right;
}
/* Default: Main Table Row Child Even */
div.container main table tr:nth-child(even) {
  background-color: #fbfbfb;
}
/* Default: Main Table Row and Table Data Child */
div.container main table tbody tr:nth-child(11) td:nth-child(4) {
  color: #e01b84;
  font-size: 20px;
  font-weight: 800;
}
/* Default: Footer */
div.container footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: start;
}
/* Default: Footer Span */
div.container footer span {
  color: #aaaaaa;
  font-size: 12px;
}
/* Default: Footer Button */
div.container footer button {
  background-color: #283592;
  color: #ffffff;
  border: 0;
  padding: 4px 8px;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", monospace;
  font-size: 14px;
}
/* Default: Footer Button Active */
div.container footer button:active {
  background-color: #283592aa;
}
/* Default: Media: Print */
@media print {
  div.container footer button {
    display: none;
  }
}

/* Default: Template */
.template {
  top: 25em;
  opacity: 0;
  scale: 0.95;
  padding: 2em 3em;
  position: absolute;
  text-align: center;
  border: 0.25em solid red;
  background-color: #fbfbfb;
  animation: showUp 500ms ease-in-out 1s forwards;
}
/* Default: Template Span */
.template span {
  color: yellow;
  padding: 0.25em;
  font-weight: 600;
  background-color: darkred;
}
/* Default: Keyframe: Show Up */
@keyframes showUp {
  from {
    opacity: 0;
    scale: 0.95;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
