main > section:nth-child(1) {
    display: flex;
    max-width: none;
    align-items: start;
    flex-direction: column;
    padding: 72px 32px 100px 32px;
    background: var(--color-slight-dark);
}
main > section:nth-child(1) > div {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    color: var(--color-light);
}
main > section:nth-child(1) > div > img {
    width: 100%;
    object-fit: cover;
    max-height: 480px;
    border-radius: 12px;
    margin-bottom: 32px;
    aspect-ratio: 2 / 1;
}
main > section:nth-child(1) > div > h1 {
    font-size: 32px;
    font-weight: 700;
}
main > section:nth-child(1) > div > h2 {
    font-size: 24px;
    margin-top: 32px;
    font-weight: 600;
    margin-bottom: 12px;
}
main > section:nth-child(1) > div > p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 12px;
}
main > section:nth-child(1) > div > ul {
    font-size: 20px;
    font-weight: 300;
    padding-left: 24px;
}
main > section:nth-child(1) > div > div {
    gap: 12px;
    row-gap: 4px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 300;
    margin: 12px 0 28px 0;
    color: var(--color-light-gray);
}
main > section:nth-child(1) > div > div > span:nth-child(2),
main > section:nth-child(1) > div > div > span:nth-child(3) > a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-light-gray);
}

@media (max-width: 768px) {
    main > section:nth-child(1) > div > img {
        aspect-ratio: 2 / 1.25;
    }
    main > section:nth-child(1) > div > h1 {
        font-size: 28px;
    }
    main > section:nth-child(1) > div > h2 {
        font-size: 20px;
    }
    main > section:nth-child(1) > div > p,
    main > section:nth-child(1) > div > ul {
        font-size: 16px;
    }
}
