@font-face {
    font-display: swap;
    font-family: "Inter";
    src: url(/asset/media/inter.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #e53c38;
    --color-blue: #3d7df0;
    --color-dark: #151515;
    --color-green: #3a9e4f;
    --color-light: #fafafa;
    --color-yellow: #f8b109;
    --color-dark-gray: #333333;
    --color-light-gray: #999999;
    --color-slight-dark: #1b1b1b;
    --color-slight-light: #777777;

    --color-red-fade: #e53c3833;
    --color-blue-fade: #3d7df033;
    --color-green-fade: #3a9e4f33;
    --color-yellow-fade: #f8b10933;

    --color-red-shade: #e53c3855;
    --color-blue-shade: #3d7df055;
    --color-green-shade: #3a9e4f55;
    --color-yellow-shade: #f8b10955;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    background: var(--color-dark);
    color: var(--color-light-gray);
    font-family: "Inter", system-ui, sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-light);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.15;
    color: var(--color-light);
}
hr {
    border: none;
    border-bottom: 1px solid var(--color-dark-gray);
}
img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
}
mark {
    color: #f8b109;
    background: transparent;
}

header {
    top: 0;
    z-index: 100;
    position: sticky;
    overflow-x: clip;
    background: var(--color-dark);
    border-bottom: 1px solid var(--color-dark-gray);
}
header > nav {
    gap: 32px;
    display: flex;
    row-gap: 16px;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1440px;
    padding: 20px 32px;
    align-items: center;
    justify-content: space-between;
}
header > nav > a {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    flex-direction: column;
}
header > nav > a > small {
    font-size: 12px;
    font-weight: 400;
}
header > nav > ul {
    gap: 32px;
    row-gap: 8px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
header > nav > ul > li > a {
    color: var(--color-light-gray);
    transition: color 0.25s ease-in-out;
}
header > nav > ul > li > a:hover,
header > nav > ul > li > a[aria-current="page"] {
    color: var(--color-light);
}
header > nav > div {
    gap: 8px;
    display: none;
    cursor: pointer;
    position: relative;
    flex-direction: column;
    width: 24px;
}
header > nav > div::before {
    top: -16px;
    left: -16px;
    content: "";
    z-index: 10;
    right: -16px;
    bottom: -16px;
    position: absolute;
}
header > nav > div > span {
    width: 32px;
    height: 2px;
    border-radius: 999px;
    background: var(--color-light);
    transition: transform 0.25s ease-in-out;
}
header > nav:has(ul.show) > div > span:nth-child(1) {
    transform: translateX(10%);
}
header > nav:has(ul.show) > div > span:nth-child(2) {
    transform: translateX(-10%);
}

main > section {
    margin: 0 auto;
    max-width: 1440px;
    padding: 100px 0;
}
main > section > div {
    padding: 0 32px;
}
main > section:nth-child(1):not(#index, #blog-post) {
    gap: 32px;
    display: grid;
    align-items: center;
    grid-template-columns: 7fr 5fr;
}
main > section:nth-child(1):not(#index, #blog-post) > div:nth-child(1) {
    gap: 32px;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    align-items: center;
}
main > section:nth-child(1):not(#index, #blog-post) > div:nth-child(1) > h1 {
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 12px;
}
main > section:nth-child(1):not(#index, #blog-post) > div:nth-child(1) > h1 > mark:nth-child(1) {
    color: var(--color-yellow);
}
main > section:nth-child(1):not(#index, #blog-post) > div:nth-child(1) > h1 > mark:nth-child(2) {
    color: var(--color-blue);
}
main > section:nth-child(1):not(#index, #blog-post) > div:nth-child(1) > p {
    font-size: 20px;
}
main > section:nth-child(1):not(#index, #blog-post) > img {
    width: 100%;
    max-height: 240px;
}
main > section:nth-child(n + 2) > div:nth-child(1):has(h2) {
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
}
main > section:nth-child(n + 2) > div:nth-child(1):has(h2) > h2 {
    font-size: 28px;
    margin: 0 0 16px 0;
}
main > section:nth-child(n + 2) > div:nth-child(1):has(h2) > p {
    font-size: 18px;
}
main > section#action > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
main > section#action > div > a {
    margin-top: 32px;
    position: relative;
    padding: 12px 32px;
    border-radius: 6px;
    border: 1px solid var(--color-blue-fade);
    transition: background 0.25s ease-in-out, color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
main > section#action > div > a:hover {
    color: var(--color-dark);
    background: var(--color-blue);
    box-shadow: 0 0 24px -12px var(--color-blue);
}

footer {
    padding: 100px 0 0 0;
    background: var(--color-slight-dark);
}
footer > div:nth-child(1) {
    gap: 32px;
    display: grid;
    padding: 0 32px;
    max-width: 1440px;
    margin: 0 auto 100px auto;
    grid-template-columns: 5fr 2fr 2fr 3fr;
}
footer > div:nth-child(1) > div > a > h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 16px 0;
}
footer > div:nth-child(1) > div:nth-child(1) > a > h2 {
    font-weight: 700;
    margin: 0 0 4px 0;
}
footer > div:nth-child(1) > div > h2 {
    font-size: 18px;
}
footer > div:nth-child(1) > div > ul {
    gap: 8px;
    display: flex;
    margin-top: 16px;
    list-style: none;
    flex-direction: column;
}
footer > div:nth-child(1) > div > ul > li > a {
    color: var(--color-slight-light);
    transition: color 0.25s ease-in-out;
}
footer > div:nth-child(1) > div > ul > li > a:hover {
    color: var(--color-light);
}
footer > div:nth-child(2) {
    padding: 24px 0;
    background: var(--color-dark);
}
footer > div:nth-child(2) > p {
    margin: 0 auto;
    font-size: 14px;
    padding: 0 32px;
    max-width: 1440px;
}

.sticky-whatsapp {
    opacity: 0;
    right: 24px;
    bottom: 24px;
    position: fixed;
    z-index: 2147483647;
    animation: fadeInUp 1s 1s forwards;
    transition: scale 0.25s ease-in-out
}
.sticky-whatsapp:hover {
    scale: 1.075;
}
.sticky-wahtsapp-data-image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 999px;
    box-sizing: border-box;
    border: 1px solid var(--color-slight-light);
    box-shadow: 0 8px 16px 0 var(--color-slight-dark);
    background: var(--color-slight-dark) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="%23fafafa" d="M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 01-13.754 2.299l-5.814.735a.392.392 0 01-.438-.44l.748-5.788A12.002 12.002 0 013.517 3.517zm3.61 17.043l.3.158a9.846 9.846 0 0011.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 00-1.747 11.554l.16.303-.51 3.942a.196.196 0 00.219.22l3.961-.501zm6.534-7.003l-.933 1.164a9.843 9.843 0 01-3.497-3.495l1.166-.933a.792.792 0 00.23-.94L9.561 6.96a.793.793 0 00-.924-.445 1291.6 1291.6 0 00-2.023.524.797.797 0 00-.588.88 11.754 11.754 0 0010.005 10.005.797.797 0 00.88-.587l.525-2.023a.793.793 0 00-.445-.923L14.6 13.327a.792.792 0 00-.94.23z"/></svg>') no-repeat center;
}
@media (max-width: 768px) {
    .sticky-whatsapp {
        right: 16px;
        bottom: 16px;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(32px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1024px) {
    header > nav > div {
        display: flex;
    }
    header > nav > ul {
        right: 0;
        top: 85px;
        padding: 32px;
        position: fixed;
        min-width: 240px;
        overflow-x: auto;
        flex-direction: column;
        height: calc(100dvh - 85px);
        transform: translateX(105%);
        background: var(--color-dark);
        transition: transform 0.25s ease-in-out;
        border-left: 1px solid var(--color-dark-gray);
        flex-wrap: nowrap;
    }
    header > nav > ul.show {
        transform: translateX(0);
    }
    header > nav > ul > li > a {
        padding: 16px;
        display: block;
        text-align: end;
    }
    footer > div:nth-child(1) {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px) {
    header > nav > a > small {
        display: none;
    }
    header > nav > ul {
        top: 68px;
        height: calc(100dvh - 68px);
    }
    main > section:nth-child(1):not(#index, #blog-post) {
        grid-template-columns: 1fr;
    }
    main > section:nth-child(1):not(#index, #blog-post) > div:nth-child(1) > h1 {
        line-height: 1;
        font-size: 44px;
    }
    main > section:nth-child(1):not(#index, #blog-post) > img {
        display: none;
    }
    main > section:nth-child(n + 2) > div:has(h2) > h2 {
        font-size: 20px;
    }
    main > section:nth-child(n + 2) > div:has(h2) > p {
        font-size: 16px;
    }
    footer > div:nth-child(1) {
        grid-template-columns: 1fr;
    }
    footer > div > p {
        text-align: center;
    }
}
