#post article {
  line-height: 1.875;
  flex: 1;
  font-size: 18px;
}
#post article h1 {
  font-weight: 800;
  line-height: 1.5;
}
#post article h2 {
  font-size: 1.3em;
  font-weight: 700;
  margin-top: 2rem;
}
#post article ol,
#post article ul {
  margin-top: 1rem;
}
#post article ol li ul,
#post article ol li ol,
#post article ul li ul,
#post article ul li ol {
  margin-top: 0;
}
#post article strong {
  font-weight: 600;
}
#post article img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
#post article a {
  word-break: break-all;
}
/* Default: Post Aside */
#post aside {
  max-width: 350px;
}
#post aside .aside-card {
  line-height: 1.875;
  flex: 1;
}
#post aside .aside-card h4 {
  font-size: 1.15em;
  font-weight: 700;
}
#post aside .aside-card img {
  width: 100%;
  max-width: 64px;
  aspect-ratio: 1 / 1;
  border-radius: 999px;
}
/* Default: Media: Aside */
@media (max-width: 991px) {
  #post aside {
    max-width: none;
    width: 100%;
  }
}
