/* File: service.css */
/* Default: Section One */
#service > section:nth-child(1) {
  padding: 6rem 0;
  background-color: var(--blue);
}
/* Framework: Bootstrap: Icon Link */
#service .icon-link {
  align-items: unset;
  gap: 0;
}
/* Framework: Bootstrap: Dark Mode Section One */
[data-bs-theme="dark"] #service > section:nth-child(1) {
  background-color: var(--darkblue);
}
/* Framework: Bootstrap: Dark Mode Card Header Background */
[data-bs-theme="dark"] #service .card-header.bg-dark {
  background-color: var(--bs-light) !important;
}
/* Framework: Bootstrap: Dark Mode Card Header Text */
[data-bs-theme="dark"] #service .card-header.bg-dark.text-white {
  color: var(--bs-dark) !important;
}
/* Framework: Bootstrap: Dark Mode Border */
[data-bs-theme="dark"] #service .border-dark {
  border-color: rgba(var(--bs-body-rgb), var(--bs-border-opacity)) !important;
}
