/* Service CSS */
/* Bootstrap: Icon Link */
#service .icon-link {
  align-items: unset;
  gap: 0;
}
/* Default: Section */
#service > section:nth-child(1) {
  min-height: 32vh;
  padding: 4rem 0;
  background-color: #a3ddff;
}
/* Default: Dark: Section */
[data-bs-theme="dark"] #service > section:nth-child(1) {
  background-color: #a3ddff55;
}
