/* Service CSS */
/* Bootstrap: Icon Link */
#service .icon-link {
  align-items: unset;
  gap: 0;
}
/* Default: Section */
#service > section:nth-child(1) {
  padding: 6rem 0;
  background-color: var(--blue);
}
/* Default: Dark: Section */
[data-bs-theme="dark"] #service > section:nth-child(1) {
  background-color: var(--darkblue);
}
