/* File: service.css */
/* Default: Form Text Area */
#support form #message {
  min-height: 150px;
}
/* Default: Section One */
#support > section:nth-child(1) {
  min-height: 32vh;
  padding: 4rem 0;
  background-color: var(--blue);
}
/* Framework: Bootstrap: Dark Mode Section One */
[data-bs-theme="dark"] #support > section:nth-child(1) {
  background-color: var(--darkblue);
}
