<head>
    <title>Rayatiga</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Rayatiga" />
    <meta name="description" content="Rayatiga is an Individual Technology Agency." />
    <meta name="author" content="Rayatiga" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rayatiga.com/" />
    <meta property="og:title" content="Rayatiga" />
    <meta property="og:description" content="Rayatiga is an Individual Technology Agency." />
    <meta property="og:image" content="https://rayatiga.com/asset/image/brand/rayatiga-og.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/asset/css/main.css" />
    <link rel="stylesheet" href="/asset/css/utility.min.css" />
    <link rel="stylesheet" href="/asset/css/icon.css" />
    <link rel="stylesheet" href="/asset/css/prism-min.css" />
    <script defer type="text/javascript" src="/asset/js/main.js"></script>
    <script defer type="text/javascript" src="/asset/js/utility.min.js"></script>
    <script defer type="text/javascript" src="/asset/js/prism-min.js"></script>
</head>
