<!-- Head Element -->
<head>
    <title>Rayatiga</title>
    <!-- Meta Element (Charset: UTF-8; HTTP-equiv: X-UA-Compatible; Name: Viewport) -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Meta Element (Name: Title, Description, Author) -->
    <meta name="title" content="Rayatiga" />
    <meta name="description" content="Rayatiga is an Individual Technology Agency." />
    <meta name="author" content="Rayatiga" />
    <!-- Meta Element (Property: Open Graph) -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rayatiga.com/" />
    <meta property="og:title" content="Rayatiga" />
    <meta property="og:description" content="Rayatiga is an Individual Technology Agency." />
    <meta property="og:image" content="https://rayatiga.com/asset/image/brand/rayatiga-og.png" />
    <!-- Link Element (Relationship: Stylesheet) -->
    <link rel="stylesheet" href="/asset/css/main.css" />
    <link rel="stylesheet" href="/asset/css/root.css" />
    <link rel="stylesheet" href="/asset/css/icon.css" />
    <link rel="stylesheet" href="/asset/css/prism.css" />
    <!-- Script Element (Type: Text/Javascript) -->
    <script defer type="text/javascript" src="/asset/js/main.js"></script>
    <script defer type="text/javascript" src="/asset/js/root.js"></script>
    <script defer type="text/javascript" src="/asset/js/prism.js"></script>
    <!-- Link Element (Relationship: Apple Touch Icon, Icon, Manifest) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
</head>
